[submodule "themes/archie"]
	path = themes/archie
	url = git@github.com:voloyev/archie.git
[submodule "themes/hugo-theme-nostyleplease"]
	path = themes/hugo-theme-nostyleplease
	url = git@github.com:hanwenguo/hugo-theme-nostyleplease.git
